<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <springProperty name="appname" source="spring.application.name"/>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <mdc/>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <rawMessage/>
                <rootStackTraceElement/>
                <stackHash/>
                <throwableClassName/>
                <throwableMessage/>
                <throwableRootCauseClassName/>
                <throwableRootCauseMessage/>
                <requestHeaders/>
                <pattern>
                    <pattern>
                        {
                        "appname": "${appname}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <exclude>^sun\.reflect\..*\.invoke</exclude>
                        <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root>
        <springProfile name="json-logs">
            <appender-ref ref="JSON"/>
        </springProfile>
        <springProfile name="!json-logs">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>
</configuration>

